.container {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: url('../images/down.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
.container-img {
	width: 100%;
}
.container-img > img {
	width: 100%;
	z-index: 0;
}
.container > a {
	position: absolute;
	top: 0.7rem;
	text-decoration: none;
	color: white;
	opacity: 0.7;
}
.container > .return {
	left: 0.6rem;
	font-size: 0.4rem;
}
.container > .forget {
	right: 0.6rem;
	font-size: 0.2rem;
	top: 0.8rem;
}
.container > .content {
	width: 4.2rem;
	margin: 0 auto;
}
.container > .content > .logo {
	margin-top: 2.5rem;
	margin-left: 1.4rem;
}
.container > .content > .logo > img {
	width: 1.6rem;
}
.container > .content > .mail {
	margin-bottom: 0.6rem;
	margin-top: 1.2rem;
	margin-right: 0.1rem;
}

.container > .content > .mail > i,
.container > .content > .password > i {
	display: block;
	float: left;
	font-size: 0.26rem;
	color: #d9f5f3;
	margin-right: 0.3rem;
	margin-top: 0.1rem;
}
.container > .content > .mail > input,
.container > .content > .password > input {
	float: left;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	border-bottom: 1px solid #fff;
	color: #d9f5f3;
	width: 3.5rem;
	display: block;
	border-radius: 0;
}
.container > .content > .mail > input::-webkit-input-placeholder,
.container > .content > .password > input::-webkit-input-placeholder {
	color: #d9f5f3;
}
input:focus {
	outline: none;
}
.container > .content > .login {
	margin-top: 0.3rem;
	text-align: center;
	border: 1px solid #fff;
	padding: 2px;
	border-radius: 0.45rem;
}
.container > .content > .login > a {
	display: block;
	text-decoration: none;
	font-size: 0.32rem;
	color: #d9f5f3;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0.2rem 0;
	border-radius: 0.45rem;
}
.container > .content > .igister {
	text-align: center;
}
.container > .content > .igister > a {
	font-size: 0.16rem;
	color: #fff;
	text-decoration: none;
	display: block;
	margin-top: 0.1rem;
}
.container > .content > .share {
	display: flex;
	margin-top: 0.8rem;
	justify-content: space-between;
}
.container > .content > .share > i {
	color: #fff;
	font-size: 0.56rem;
	padding: 0.2rem;
	border: 1px solid #fff;
	border-radius: 50%;
}
.container > .content > .agree {
	text-align: center;
	margin-top: 0.3rem;
}
.container > .content > .agree > span {
	font-size: 0.16rem;
	color: #d9f5f3;
}
.container > .content > .agree > span > a {
	color: #fff;
}
